# WordPress specific files
*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/mu-plugins/
wp-content/wp-cache-config.php

# Node modules and build files
node_modules/
dist/
build/

# Editor files
.DS_Store
.vscode/
.idea/

# Environment files
.env
.env.*
